* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', Arial;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.App-body {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.event-name {
    all: initial;
    border: none;
    background-color: transparent;
    color: black;
    font-family: 'Quicksand';
    font-weight: 300;
    text-align: center;
}

.calendar {
    width: 80%; /* Ensure table fills its container */

}

.calendar td, th {
    width: 1%; /* Set equal width for each cell */
    text-align: center; /* Center-align content */
    border: 2px solid #ddd; /* Add borders for clarity */
}

.calendar:hover {
    cursor: pointer;
}

/* Selected day */
.calendar td.selected {
    /* Your styles for the selected day */
    color: orange;
}

.App-footer {
    background-color: #282c34;
    padding: 10px;
    color: white;
    text-align: center;
    justify-content: center;
}